<div class="col-sm-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel_label">&nbsp;Flight Log</span>
			<span ng-show="ConnectState == 'Connected'" class="label label-success">{{ConnectState}}</span>
			<span ng-hide="ConnectState == 'Connected'" class="label label-danger">{{ConnectState}}</span>
			<span ng-hide="ReplayMode == false" class="label label-primary">SIMULATION MODE</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-8">
					<span class="col-xs-3"><strong>Date</strong></span>
					<span class="col-xs-2"><strong>Time (Z)</strong></span>
					<span class="col-xs-2"><strong>Start</strong></span>
					<span class="col-xs-2"><strong>End</strong></span>
					<span class="col-xs-2"><strong>Dur.</strong></span>
					<span class="col-xs-1"><strong>Dist.</strong></span>
				</div>
				<div class="col-sm-4">
					<span class="col-xs-12"><strong>Actions</strong></span>
				</div>
			</div>
			
			<div class="row flightrow" ng-class="{'selected': flight.id == currentFlight}" ng-repeat="flight in data_list | orderBy: 'id': true" ng-click="getDetails($index, flight.id)" style="cursor:pointer;">
				<div class="separator"></div>
				<div class="col-sm-8">
					<span class="col-xs-3" ng-hide="showReg">{{flight.date}}</span>
					<span class="col-xs-2" ng-hide="showReg">{{flight.time}}</span>
					<span class="col-xs-2" ng-hide="showReg">{{flight.start_airport_id}}</span>
					<span class="col-xs-2" ng-hide="showReg">{{flight.end_airport_id}}</span>
					<span class="col-xs-2" ng-hide="showReg">{{flight.hms}}</span>
					<span class="col-xs-1" ng-hide="showReg">{{flight.distance}}</span>
				</div>
				<div class="col-sm-4">
					<span class="col-xs-4"><a target="_blank" href="/flightlog/kml/{{flight.id}}">KML</a></span>
					<span class="col-xs-4"><a target="_blank" href="/flightlog/csv/{{flight.id}}">CSV</a></span>
					<span class="col-xs-4"><button ng-click="preDeleteFlight(flight.id)" ui-turn-on="modalDelete">Delete</button></span>
				</div>			
			</div>
			
			<!-- footer -->
		<div class="panel-body flog-footer">
			<div class="separator"></div>
			<div class="row">
				<div class="col-sm-6">
					<label class="control-label col-xs-5">Replay Controls</label>
					<div class="col-xs-7 replayButtons">
						<button ng-hide="ReplayMode == true || currentFlight == 0" ng-click="replayFlight()"><i class="fa fa-play"></i>&nbsp;Play</button>&nbsp;
						<button ng-hide="ReplayMode == false || ReplayPaused == true" ng-click="pauseReplay()"><i class="fa fa-pause"></i>&nbsp;Pause</button>
						<button ng-hide="ReplayMode == false || ReplayPaused == false" ng-click="resumeReplay()"><i class="fa fa-play"></i>&nbsp;Play</button>
						<button ng-hide="ReplayMode == false" ng-click="stopReplay()"><i class="fa fa-stop"></i>&nbsp;Stop</button>
					</div>
				</div>
				<div class="col-sm-6">
					<span class="sagmented" ng-hide="ReplayMode == false">
						<label class="speedRadio"><span>1x</span>&nbsp;<input type="radio" name="playbackSpeed" value="1" ng-model="playbackSpeed" checked></label>
						<label class="speedRadio"><span>2x</span>&nbsp;<input type="radio" name="playbackSpeed" value="2" ng-model="playbackSpeed"></label>
						<label class="speedRadio"><span>4x</span>&nbsp;<input type="radio" name="playbackSpeed" value="4" ng-model="playbackSpeed"></label>
						<label class="speedRadio"><span>10x</span>&nbsp;<input type="radio" name="playbackSpeed" value="10" ng-model="playbackSpeed"></label>
					</span> 
				</div>
			</div>
		</div>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel_label">&nbsp;Flight Details</span>
		</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-sm-12">
					<strong>&nbsp;Flight Timeline</strong>
				</div>
			</div>		
			<div class="row">
				<div class="col-sm-12">
					<rzslider rz-slider-model="timeSlider.value" rz-slider-options="timeSlider.options"></rzslider>
				</div>
			</div>
			
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12">
						<span class="col-xs-3" ng-hide="showReg"><strong>Event</strong></span>
						<span class="col-xs-3" ng-hide="showReg"><strong>Location</strong></span>
						<span class="col-xs-3" ng-hide="showReg"><strong>Time (L)</strong></span>
						<span class="col-xs-3" ng-hide="showReg"><strong>Time (S)</strong></span>
					</div>
				</div>
			
				<!-- events -->
				<div class="row flightrow" ng-class="{'selected': timeSlider.value >= event.seconds}" ng-repeat="event in flight_events | orderBy: 'timestamp'" ng-click="jumpToTimestamp(event.timestamp, event.flight)" style="cursor:pointer;">
					<div class="separator"></div>
					<div class="col-sm-12">
						<span class="col-xs-3" ng-hide="showReg">{{event.event}}</span>
						<span class="col-xs-3" ng-hide="showReg">{{event.location}}</span>
						<span class="col-xs-3" ng-hide="showReg">{{event.timeLocal}}</span>
						<span class="col-xs-3" ng-hide="showReg">{{event.timeHMS}}</span>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div ui-content-for="modals">
  <div class="modal" ui-if="modalDelete" ui-state="modalDelete">
    <div class="modal-overlay "></div>
       	<div class="vertical-alignment-helper center-block">
        	<div class="modal-dialog vertical-align-center">
     
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" 
                  ui-turn-off="modalDelete"></button>
          <h4 class="modal-title">Are you really sure?</h4>
        </div>
        <div class="modal-body">
          <p>Do you wish to delete the selected flight?</p>
          <p>Note that the system will permanently delete all records associated with this flight.</p>
        </div>
        <div class="modal-footer">
          <a ui-turn-off="modalDelete" class="btn btn-default">Cancel</a>
          <a ng-click="deleteFlight()" ui-turn-off="modalDelete" class="btn btn-primary">Delete</a>
        </div>
      </div>
    	  </div>
    </div>
  </div>
</div>